@keyframes slideInUp {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
.checkoutProductCard .container {
  display: flex;
  margin: 30px 0;
}
.checkoutProductCard .imageContainer.imageContainer {
  min-width: 100px;
  max-width: 100px;
  display: flex;
}
.checkoutProductCard .imageContainer img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUp;
}
.checkoutProductCard .container .dataContainer {
  width: 80%;
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkoutProductCard .container .dataContainer .row {
  display: flex;
  justify-content: space-between;
}
.checkoutProductCard .container .dataContainer .nameContainer {
  margin: auto 0;
}
.checkoutProductCard .container .dataContainer .name {
  margin: auto 0;
  width: 150px;
  font-size: 16px;
}
.checkoutProductCard .container .dataContainer .price {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.checkoutProductCard.container .dataContainer .variantName {
  margin: 0;
  color: gray;
  font-size: 14px;
}
.checkoutProductCard .container .dataContainer .quantityContainer {
  display: flex;
}
.checkoutProductCard .container .dataContainer .quantity {
  width: 40px;
  margin: auto 0;
  display: flex;
}
.checkoutProductCard .container .dataContainer .quantity p {
  margin: auto;
  text-align: center;
}
.checkoutProductCard .container .dataContainer .quantityButton {
  display: flex;
  width: 20px;
  height: 20px;
  margin: auto;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  border: 1px solid lightgray;
  cursor: pointer;
}
.checkoutProductCard .container .dataContainer .quantityButton .icon {
  margin: auto;
  font-size: 10px;
}
.checkoutProductCard .container .dataContainer .quantityButton:hover {
  color: grey;
}
