.checkoutSummary {
  width: 50%;
  position: sticky;
  top: 0px;
  height: 100%;
  background: rgb(250, 250, 250);
}
.checkoutSummary .container {
  padding: 60px 30px;
  background: rgb(250, 250, 250);
  min-height: 100vh;
}

@media all and (max-width: 768px) {
  .checkoutSummary {
    display: none;
  }
}
