.checkoutSelect .container {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 0 10px;
  transform: translateX(-5px);
  position: relative;
}
.checkoutSelect .container label {
  margin: 0 0 7px 0;
}
.checkoutSelect .container select {
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 0 10px;
  font-size: 16px;
}
.checkoutSelect .container select:focus {
  border-color: #0077ff;
}
.checkoutSelect .container select:hover {
  border-color: #0077ff;
}
.checkoutSelect .confirmationDot {
  width: 10px;
  height: 10px;
  background: yellowgreen;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 45px;
  right: 40px;
  opacity: 0;
  transition: 0.3s;
}
.checkoutSelect .arrowIcon {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 20px;
  color: lightgrey;
  pointer-events: none;
}

@media all and (max-width: 768px) {
  .checkoutSelect {
    width: 100% !important;
  }
}
