.orderReviewProgressBar {
  margin: 30px 0;
}
.orderReviewProgressBar .progressBar {
  height: 10px;
  width: 100%;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.orderReviewProgressBar .progressBar .progress {
  position: absolute;
  height: 10px;
  width: 0%;
  background: #0077ff;
  transition: 0.3s;
  border-radius: 5px;
}
.orderReviewProgressBar .labelContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
}
.orderReviewProgressBar .labelContainer label {
  width: 33.3%;
}
