@keyframes slideInUp {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
.orderReviewCard .container {
  display: flex;
  margin: 30px 0;
}
.orderReviewCard .imageContainer.imageContainer {
  min-width: 100px;
  max-width: 100px;
  display: flex;
}
.orderReviewCard .imageContainer img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUp;
}
.orderReviewCard .container .dataContainer {
  width: 100%;
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderReviewCard .container .dataContainer .row {
  display: flex;
  justify-content: space-between;
}
.orderReviewCard .container .dataContainer .nameContainer {
  margin: auto 0;
}
.orderReviewCard .container .dataContainer .name {
  margin: auto 0;
  width: 150px;
  font-size: 16px;
}
.orderReview .container .dataContainer .price {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.orderReviewCard .container .dataContainer .variantName {
  margin: 0;
  color: gray;
  font-size: 14px;
}
.orderReviewCard .container .dataContainer .quantityContainer {
  display: flex;
  background: rgb(235, 235, 235);
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 15px;
}
.orderReviewCard .container .dataContainer .quantityContainer p {
  margin: 0 5px 0 0;
  font-size: 14px;
  color: grey;
}
