@keyframes slideInUp {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
.productCard {
  width: 400px;
  margin: auto;
}
.productCard .container {
  margin: 15px;
  cursor: pointer;
}

.productCard img {
  width: 100%;
  height: 400px;
  background: rgb(236, 236, 236);
  object-fit: cover;
  border-radius: 15px;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUp;
}
.productCard .textContainer {
  margin: auto;
  display: flex;
}
.productCard .textContainer .column {
  margin: auto;
  width: 100%;
  padding: 15px 0 0 0;
}
.productCard .textContainer .name {
  margin: 0;
  margin-bottom: 10px;
}
.productCard .textContainer .price {
  font-weight: bold;
  margin: 0;
}
