.shippingMethodCard {
  width: 100%;
  margin: 10px;
  transform: translateX(-10px);
}
.shippingMethodCard .container {
  border: 2px lightgrey solid;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 120px;
  cursor: pointer;
  transition: 0.3s;
}
.shippingMethodCard .row {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}
.shippingMethodCard .row p {
  margin: auto 0;
}
.shippingMethodCard .row .checkIcon {
  margin: auto 0;
  color: #0077ff;
  font-size: 20px;
  opacity: 0;
  transition: 0.3s;
}
.shippingMethodCard .description {
  color: gray;
  margin: auto 0;
}
.shippingMethodCard .price {
  margin: 20px 0 auto 0;
}
